.toolbar{
	-fx-background-color: white;
	-fx-border-color: blue;
}

.notify_btn{
	-fx-background-image: url('../icons/notification.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size:24px;
}

.main_icon{
	-fx-image: url('../icons/main_icon.png');
}

.spec_btn{
	-fx-background-color: dodgerblue; 
}

.menu_btn{
	-fx-background-image: url('../icons/menu.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size:24px;
}

.user_btn{
	-fx-background-image: url('../icons/user.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size:24px;
}

.back_btn{
	-fx-background-image: url('../icons/arrow.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size:24px;
}

.close_btn{
	-fx-background-image: url('../icons/close.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size:16px;
}

.add_btn{
	-fx-background-image: url('../icons/plus.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size:16px;
}

.view_btn{
	-fx-background-image: url('../icons/view.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size:16px;
}

.maps_btn{
	-fx-background-image: url('../icons/map.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size:32px;
}

.main{
	-fx-background-color: white;
	-fx-background-image: url('../icons/main_icon.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: 50% 30%;
}

.login_fb{
	-fx-background-image: url('../icons/facebook.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}

.login_gg{
	-fx-background-image: url('../icons/gg_log.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size:250px;
}

.su{
	-fx-background-image: url('../icons/search_usr.png');
	-fx-background-size: 1180 680;
    -fx-background-position: center;
	-fx-background-repeat: no-repeat;
}

.se{
	-fx-background-image: url('../icons/search_entr.png');
	-fx-background-size: 1180 680;
    -fx-background-position: center;
	-fx-background-repeat: no-repeat;
}

.home_btn{
	-fx-background-image: url('../icons/home.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size:24px;
}

.account_ext{
	-fx-background-color: #8ecae6;
}

.account_int{
	-fx-background-color: white;
	-fx-border-color: blue;
}

.profile_pic{
	-fx-border-color: blue;
}

.profile_btn{
	-fx-background-image: url('../icons/change_pic.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: 10%;
}

.sections{
	-fx-background-color: #8ecae6;
	-fx-pref-width: 250px;
	-fx-pref-height: 150px;
	-fx-font-family: System;
	-fx-font-size:24px;
	-fx-font-weight:bold;
	-fx-border-color: blue;
}

.section_views{
	-fx-background-color: #8ecae6;
	-fx-border-color: blue;
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.7) , 5, 0.0 , 0 , 1 );
}

.company{
	-fx-background-image: url('../icons/company.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size:150px;
}

.candidates{
	-fx-background-image: url('../icons/candidate.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size:150px;
}

.offers{
	-fx-background-image: url('../icons/offer.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size:150px;
}

.info{
	-fx-background-image: url('../icons/id.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size:150px;
}

.cv{
	-fx-background-image: url('../icons/cv.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size:150px;
}

.fav{
	-fx-background-image: url('../icons/star.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size:150px;
}

.bus{
	-fx-background-image: url('../icons/profits.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size:150px;
}

.motiv{
	-fx-background-image: url('../icons/motivation.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size:150px;
}

.filter_box{
	-fx-background-color: #a2a7ab;
	-fx-border-color: black;
}

.results{
	-fx-background-color: #AED6F1;
}

.result_titles{
	-fx-background-color: dodgerblue;
	-fx-border-color: black;
}

.result_box{
	-fx-border-color: #a2a7ab;
	-fx-background-color: #C6CFD5;
}

.dollar{
	-fx-background-image: url('../icons/dollar.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}

.star_button_nset{
	-fx-shape: "M 0 0.054 z M 15.422 18.129 l -5.264 -2.768 l -5.265 2.768 l 1.006 -5.863 L 1.64 8.114 l 5.887 -0.855 l 2.632 -5.334 l 2.633 5.334 l 5.885 0.855 l -4.258 4.152 L 15.422 18.129 z";
	-fx-border-color: black;
	-fx-background-color: trasparent;
}

.star_button_set{
	-fx-shape: "M 0 0.054 z M 15.422 18.129 l -5.264 -2.768 l -5.265 2.768 l 1.006 -5.863 L 1.64 8.114 l 5.887 -0.855 l 2.632 -5.334 l 2.633 5.334 l 5.885 0.855 l -4.258 4.152 L 15.422 18.129 z";
	-fx-border-color: white;
	-fx-background-color: black;
}

.euro{
	-fx-background-image: url('../icons/euro.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}

.list{
	-fx-border-color: blue;
}