.toolbar{
	height: 50px;
	border-color:blue;
	border:5px;
}

.main_icon{
	background-image: url('../icons/main_icon.png');
	background-repeat: no-repeat;
}

.home_btn{
	background-image: url('../icons/home.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size:24px;
	margin-right:10px;
	margin-top:10px;
	margin-left:10px;
	height: 40px; 
	width: 40px;
}

.notify_btn{
	background-image: url('../icons/notification.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size:24px;
	margin-right:10px;
	margin-top:10px;
	height: 40px; 
	width: 40px;
}

.menu_btn{
	background-image: url('../icons/menu.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size:24px;
	margin-right:10px;
	margin-top:10px;
	height: 40px; 
	width: 40px;
}

.user_btn{
	background-image: url('../icons/user.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size:24px;
	margin-right:10px;
	margin-top:10px;
	height: 40px; 
	width: 40px;
}

.main{
	background-color: white;
	background-image: url('../icons/main_icon.png');
	background-repeat: no-repeat;
	background-position: 50% 30%;
}

.main_btns{
	height: 68px; 
	width: 212px; 
	border-color: #0080FF; 
	font-size: 24px; 
	font-family: System; 
	margin-right: 20px; 
	margin-left: 20px; 	
	margin-top: 400px; 
	margin-bottom: 20px; 
	cursor: hand;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a:hover {
	background-color: #ddd;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #3e8e41;
}

.search_entr{
	color: white;
    padding-top:50px;
    text-align: center;
    position:absolute; 
    top:70px; 
    left:0px; 
    width:100%; 
    height:100%; 
    background-image: url('../icons/search_entr.png');
	background-size: 1180 600;
    background-position: center;
	background-repeat: no-repeat;
}

.search_btn{
	color: white;
    font-size: 20px;
    font-style: bold;
    text-align:center;
    width:100px; 
    height:50px;
    background-color: dodgerblue;
    border-color: black;
    margin-top:30px;
}

.search_select{
	background-color:white;
	width:250px;
	height:30px;
	margin-top:30px;
}

.login_btns{
	height: 31px; 
	width: 66px; 
	border-color: #0080FF; 
	font-size: 15px; 
	font-family: System; 
	cursor: pointer;
}

.job_btn{
	width:250px;
    height:30px;
    margin-left:130px;
    margin-right:-500px;
    font-size:20px;
    text-overflow: ellipsis;
    text-align:right;
    color:grey;
    margin-top:200px;
    background-image: url('../icons/candidate.png');
	background-repeat: no-repeat;
    background-position: left;
	background-size:24px
}

.login_frame{
	height: 350px; 
	width: 300px; 
	border-color: #0080FF; 
	margin: 0px 0px 0px 500px; 
}

.login_fb{
	background-image: url('../icons/facebook.png');
	background-repeat: no-repeat;
	background-position: center;
	height: 31px;
	width: 188px;
	margin-left: 60px;
	cursor: pointer;
}

.login_gg{
	background-image: url('../icons/gg_log.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 250px;
	height: 31px;
	width: 188px;
	margin-left: 60px;
	cursor: pointer;
}

.su{
	background-image: url('../icons/search_usr.png');
	background-size: 1180 600;
    background-position: center;
	background-repeat: no-repeat;
}

.search_usr{
	color: black;
    font-size: 50px;
    font-style: bold;
    text-align: center;
    padding-top:60px;
    position:absolute; 
    top:70px; 
    left:0px; 
    width:100%; 
    height:100%; 
    background-image: url('../icons/search_usr.png');
}

.result_label{
	position: absolute;
	width:250px;
    height:30px;
    left: 20px;
	top: 130px;
    font-size:20px;
    text-overflow: ellipsis;
    text-align:center;
    color:black;
    border-color:black;
    background-color:white;
}
        
.joboffers{
	width:250px;
    height:60px;
    position: absolute;
	left: 250px;
	top: 130px;
    margin-left:400px;
    font-size:20px;
    text-overflow: ellipsis;
    text-align:center;
    color:white;
    border-color:black;
}

.line{
	position: absolute;
	width: 500px;
	height: 0px;
	left: 520px;
	top: 220px;
	color:black;
	border: 1px;
}

.result{
	position: absolute;
	width:400px;
    height:80px;
    left: 570px;
	top: 240px;
    font-size:20px;
    color:black;
    border-color:black;
}

.order_by{
	position: absolute;
	width: 250px;
	height: 40px;
	left: 20px;
	top: 250px;
	color:black;
}

.order_select{
	position: absolute;
	width: 160px;
	height: 30px;
	left: 110px;
	top: 258px;
	color:black;	
}

.busdetails{
	position: absolute;
	width: 96%;
	height: 95%;
	left: 20px;
	top: 180px;
	color:black;
}

.businessname{
	color: white;
    position:relative;
    width:250px; 
    height:45px; 
    top:200px;
    left:-140px;
}

.thebusiness{
    position:relative;
    width:250px; 
    height:40px; 
    top:290px;
    left:-400px;
    border:0;
    font-size: 15px;
}

.busdescription{
	position: absolute;
	width: 90%;
	height: 30%;
	left: 40px;
	top: 350px;
	color:black;
}

.statistics_btn{
	color: white;
    font-style: bold;
    font-size: 15px;
    text-align:center;
    position:relative
}

.recruiter_acc{
	position:absolute; 
    top:70px; 
    left:0px; 
    width:100%; 
    height:100%; 
    background-image: url('../icons/bgRecruiter.png');
	
}

.profile_pic{
	position:relative;
	background-repeat:no-repeat; 
	margin-left:200px;
    top:70px; 
    left:0px; 
    width:100%; 
    height:100%; 
    background-image: url('../icons/profile_pic.png');
}

.change_pic{
	color:black;
	font-size:15px;
	position:relative;
	background-repeat:no-repeat; 
	background-size:24px; 
    background-image: url('../icons/change_pic.png');
	
}

#clock{
      background-image:url('');
      background-size:cover;
      background-position: center;
      height: 250px; width: 250px;
}


#griglia {
padding: 0;
margin: 0;
}

#griglia > li {
border: 2px solid black;
display: inline-block;
width: 200px;
height: 160px;
margin: 10px;
background-color: #add8e6;
}

#container {
background: transparent;
max-width:480px;
margin:0 auto;
padding: 20px;
text-align: center;
margin-top:-550px;
margin-left:700px;
}

.candidate_btn{
	color:white;
	font-size:30px;
	font-style:bold;
	position:relative;
	text-align:center;
	background-repeat:no-repeat; 
	background-size: 150px;
	background-position:center;
	background-image: url('../icons/candidate.png');
	
}

.company_btn{
	color:white;
	font-size:30px;
	font-style:bold;
	position:relative;
	text-align:center;
	background-repeat:no-repeat; 
	background-size: 150px;
	background-position:center;
	background-image: url('../icons/company.png');
	
}

.id_btn{
	color:white;
	font-size:30px;
	font-style:bold;
	position:relative;
	text-align:center;
	background-repeat:no-repeat; 
	background-size: 150px;
	background-position:center;
	background-image: url('../icons/id.png');
	
}

.offers_btn{
	color:white;
	font-size:30px;
	font-style:bold;
	position:relative;
	text-align:center;
	background-repeat:no-repeat; 
	background-size: 150px;
	background-position:center;
	background-image: url('../icons/offer.png');
	
}

.scheletro_offer_det{
	color:grey;
	font-style:bold;
	font-size:20px;
	padding-left:40px;
	padding-top:50px;
	background:#C6D6D3;
	position: absolute;
	width: 96%;
	height: 95%;
	top: 70px;
	
}

.star_btn{
	position:relative; 
    background-size:30px;
    background-repeat:no-repeat;
    background-position:center;
    background-image: url('../icons/star.png');
	
}

.map-offer_btn{
	position:relative; 
    background-size:50px;
    background-repeat:no-repeat;
    background-position:center;
    background-image: url('../icons/map-offer.jpeg');
	
}

.favourite_container{
	position:absolute;
	width: 100%;
	height: 100%;
	left:0px;
	top: 90px;
	color:black;
	border: 1px solid #56A6F0;
	box-sizing: border-box;
}

.favourite_title{
	position: absolute;
	width: 260px;
	height: 40px;

	font-family: Red Hat Text;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: #56A6F0;
	line-height: 32px;
	
	top:100px;
	left:20px;
	border:0;
}

.cv_btn{
	color:white;
	font-size:30px;
	font-style:bold;
	position:relative;
	text-align:center;
	background-repeat:no-repeat; 
	background-size: 150px;
	background-position:center;
	background-image: url('../icons/cv.png');
	
}

.favourites_btn{
	color:white;
	font-size:30px;
	font-style:bold;
	position:relative;
	text-align:center;
	background-repeat:no-repeat; 
	background-size: 150px;
	background-position:center;
	background-image: url('../icons/star.png');
	
}

.delete_btn{
	color: white;
    font-size: 15px;
    font-style: bold;
    text-align:center;
    position:relative
}


.candidate_row_title{
	position: absolute;
	width: 86%;
	height: 30px;
	left: 100px;
	top: 220px;
	color:white;
}

.candidate_row{
	position: absolute;
	width: 90%;
	height: 25px;
	left: 50px;
	top: 250px;
	color:black;
}

.profits_btn{
	color:white;
	font-size:30px;
	font-style:bold;
	position:relative;
	text-align:center;
	background-repeat:no-repeat; 
	background-size: 150px;
	background-position:center;
	background-image: url('../icons/profits.png');	
}

.favouritejoboffer_container{
	position: absolute;
	width: 35%;
	height: 20%;
	left: 500px;
	top: 150px;
	color:black;
	border: 1px solid #56A6F0;
}

.calculatefeasibility_btn{
	color: white;
    font-style: bold;
    font-size: 15px;
    text-align:center;
    position:relative
}

.insert_budget{
	position:relative;
    width:250px; 
    height:40px; 
    top:600px;
    left:-650px;
    border:0;
    font-size:15px;
}

.budget{
	color: black;
    position:relative;
    width:250px; 
    height:45px; 
    top:600px;
    left:-30px;
}

.change_btn{
	color: white;
    font-size: 15px;
    font-style: bold;
    text-align:center;
    position:relative
}

.savechange_btn{
	color: white;
    font-size: 15px;
    font-style: bold;
    text-align:center;
    position:relative
}

.companyTitle{
	position:relative;
    width:250px; 
    height:40px; 
    border:0;
    font-size: 15px;
    color:black;
    background-color:#C6D6D3
}

.companyTxt{
	position:relative;
    width:250px; 
    height:40px; 
    border:0;
    font-size: 15px;
    color:black;
    background-color:white
}

.add_btn{
	color: white;
    font-size: 15px;
    font-style: bold;
    text-align:center;
    position:relative
}

.scheletro_signUp{
	color:dodgerblue;
	font-style:bold;
	font-size:70px;
	padding-left:40px;
	padding-top:15px;
	background:#C6D6D3;
	position: absolute;
	width: 96%;
	height: 200%;
	left: 20px;
	top: 100px;	
}

.text_title{
	position: absolute;
	width: 380px;
	height: 40px;

	font-size: 22px;
	line-height: 32px;
	
	top:162px;
	left:20px;
	border:0;
}

.text_subtitle{
	position: absolute;
	width: 280px;
	height: 40px;

	font-weight: bold;
	font-size: 20px;
	line-height: 32px;
	
	top:195px;
	left:40px;
	border:0;
}

.text_subsubtitle{
	position: absolute;
	width: 550px;
	height: 40px;

	font-size: 15px;
	line-height: 32px;
	
	top:230px;
	left:60px;
	border:0;
}

.text_input{
	position:relative;
    width:200px; 
    height:20px; 
    font-size: 15px;
    color:black;
}

.orizzontale {
  border-bottom: 1px solid #000;
  padding-bottom: 20px;
  margin-top: 300px;
  margin-left: 300px;
  width: 300px;
}

.saveresults_btn{
	color: white;
    font-size: 15px;
    font-style: bold;
    text-align:center;
    position:relative	
}

.alert {
  padding: 20px;
  background-color: white;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: black;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

